.chat__side
  .side__header
    .side__in
      name
      .side__in__name
      .side__in__menu
        .side__in__menu__left
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'edit')
        .side__in__menu__right
          = link_to "#", class: "contents__btn" do
            = icon('fas', 'cog')
  .side__groups
    = link_to "#", class: "contents__btn" do
      .side__groups__group
        %p
          test
        %p
          testname
      -# .side-group1